
<!DOCTYPE html>
<html>
  <head>
    <title>{{{title}}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>{{{title}}}</h1>
      <br>
      <h4>Endpoints</h4>
      <p>api/guilds</p>
      <p>api/guilds/:id</p>
      <p>api/guilds/:id/events/:id</p>
      <p>api/members/</p>
      <p>api/members/:id</p>
      <p>api/members/:id/events</p>
      <p>api/members/:id/events/:event_id</p>
    </div>
  </body>
</html>
