  <h1>Guilds</h1>

  {{#each guilds}}
    <p>{{ name }}</p>

<!--
    <p>Title: {{ title }}</p>
    <p>Guild: {{ Guild.name }}</p>
    <p>Active: {{#if is_active}} Active {{else}} Not Active {{/if}}</p>
-->
    <br>
  {{/each}}
