<!DOCTYPE html>
<html>
  <head>
    <title>Guilds</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Guilds</h1>

    {{#each guilds}}
      <p>{{ name }}</p>

<!--
      <p>Title: {{ title }}</p>
      <p>Guild: {{ Guild.name }}</p>
      <p>Active: {{#if is_active}} Active {{else}} Not Active {{/if}}</p>
-->
      <br>
    {{/each}}
  </body>
</html>
