<!DOCTYPE html>
<html>
  <head>
    <title>Leagues</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Leagues</h1>

    {{#each leagues}}
      <p>{{ name }}</p>
      <br>
    {{/each}}
  </body>
</html>
